body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
}

div.container {
  font-family: Arial;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header {
  background-color: lightgray;
  height: 97%;
  max-width: 500px;
  min-width: 400px;
  border-radius: 4rem;
  box-shadow: 10px 10px 30px 1px rgba(94,94,94,1);
  text-align: center;
  flex-grow: 0;
  margin-left: 15px;
  box-sizing: border-box;
}

.canvas_space {
  text-align: center;
  height: auto;
  flex-grow: 1;
}

.title {
  text-shadow: 3px 3px rgba(80, 80, 80, 0.5);
}

#save_functionality {
  margin-top: 10px;
}

h1 {
  font-family: Monoton;
  font-size: 70px;
  margin: 0.2em;
}

h2 {
  margin: 1em 0 0.25em;
}

h2:first-of-type {
  margin-top: 0.5em;
}

#canvas_header {
  color: lightgray;
  text-align: center;
  font-size: 30px;
}

table,
tr,
td {
  border: 1px solid gray;
}

table {
  border-collapse: collapse;
  margin: 0 auto 30px auto;
  box-shadow: 5px 5px 20px 1px rgba(94,94,94,1);
}

tr {
  height: 20px;
}

td {
  width: 20px;
}

input[type=number] {
  width: 6em;
  text-align: center;
  -moz-appearance:textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#colorString {
  color: #FFFFFF;
  background: #000000;
}

input[type="submit"] {
  border: 1px solid #000000;
  padding: 2px 5px 2px 5px;
  background: #FFFFFF;
  color: #000000;
}

input[type="submit"]:hover {
  color: #FFFFFF;
  background: #000000;
}

input[disabled="true"] {
  border: 1px solid gray;
  color: gray;
}

input[disabled="true"]:hover {
  border: 1px solid gray;
  background: #FFFFFF;
  color: gray;
}

input[type="color"] {
  border: 1px solid #000000;
  padding: 2px 5px 2px 5px;
  background: #FFFFFF;
  color: #000000;
}

textarea {
  display: block;
  position: relative;
  margin: 10px auto 0 auto;
}

.tool_icon {
  border: 0.5px solid #FFFFFF;
  border-radius: 5px;
}

.tool_icon:hover {
  background-color: #FFFFFF;
}

@media (max-width: 950px) {
  body,
  html {
    height: auto;
  }

  div.container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header {
    transform: scale(0.8);
    height: 750px;
    width: auto;
    margin-top: 15px;
    margin-left: 0;
    flex-grow: 0;
    flex-shrink: 1;

  }

  .canvas_space {
    height: 600px;
    flex-grow: 1;
    width: 100%;
    box-sizing: content-box;
    position: relative;
  }

  #canvas_header {
    margin: 0;
    position: relative;
    top: 50%;
  }
}
